*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Freight big pro,serif";
}

html,body{
    height: 100%;
    width:100%;
}

#page1
{
    height: 100vh;
    width: 100%;
    background-color: #f5e41b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#page1 h1{
    color: #231f20;
    font-weight: 100;
   line-height: 1.2em;
   font-size: 6.9vw;
   letter-spacing: -3px ;

}
#page2{

    height: 100vh;
    width: 100%;
    background-color: #000000;
}
 #page3
 {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
 }