*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "General Sans";
}
html, body{
    width: 100%;
    height: 100%;
   
}
#mincircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.7s;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: aliceblue;
}
.bound{
    width: fit-content;
    /* background-color: #fc0000; */
    overflow: hidden;
}
.bound .boundingelem{
    transform: translateY(100%);
}
#main{
    width:100%;
    background-color: #000000;
}
#hero{
    position: relative;
    color: #ddc3c3;
width: 100%;
height: 100vh;
background-color: #0000;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:20px 40px;
    color: #88d1e7;    
}
#nav a{
    font-family: "General Sans Medium";
    margin-top: 15px ;
    text-decoration: none;
    font-size: 24px;
    color: #7ebde1;
}
#nav a h4{
    font-family: "General Sans Regular";
    font-size: 18px;
}
#heading{
    margin-top: 80px;
}

#heading h1{
    opacity: .6;
    font-family:"General Sans Regular";
    line-height: 1;
    font-size: 10.65vw;
    text-transform:uppercase ;
font-weight: 900;
}

#heading #secondh1{
    margin-left: 230px;
}
#blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;

    /* background-color: red; */
}

#blocktext h5{
    /* background-color: #7ebde1; */
    text-transform: uppercase;
    font-size: 15px;
    text-align: right !important;
}
#smolheadings
{  margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
 padding-right: 50px;
}

#smolheadings h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;
    padding-right: 30px;
}
#herofooter
{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
align-items: center;
justify-content: space-between;

}
#herofooter a
{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
}

#iconset circle{
    display: flex;
    align-items: center;
    justify-content: center;
       width: 25px;
       height: 25px;
       border-radius: 50%;
       background-color: #f58282;
}

#second{
    color: #ddc3c3;
    padding-top: 200px;
    padding-left: 4vw;
    padding-right: 10vw;
    background-color: #000000;
    width: 100%;
    height:100vh;
}

#elem {
    display: flex;
    align-items: center;
    justify-content: space-between;
padding-right: 0;
    width: 100%;
    padding:  3.5vw 3vw;
    border-top: 1px solid #8579d4;
position: relative;
}
#second   h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    
opacity: 0.7;
}

#elast{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding-right: 0;
    width: 100%;
    padding:  4px 2px;
   border-bottom:1px solid #8579d4;
   position: relative;
}

#elem img{
    position: absolute;
    /* opacity: 0; */
    display: none;
z-index: 999;
height: 140%;
}

#about{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap:50px;
color: #ffffff;
    width: 100%;
    padding: 20vw 5vw;
    padding-left: 35vw;
    width: 100%;
    background-color: #000000;
}

#about img
{width:280px;
    height: 280px;
    border-radius: 50%;
}

#text{
    width: 80%;
    /* background-color: red; */
}
#text h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}
#text p{
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: larger;
}
#text a{
    padding: 12px 22px;
    border: 1px solid wheat;
    border-radius:100px;
    color:#ffffff;
    font-size: 12px;
    text-decoration: none;

    font-size: large;
}

#subscribe{
    background-color: #000000;
    padding: 20px 30px;
    color: aliceblue;
    padding-bottom: 7vw;

}

#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3{
    text-transform:uppercase;
    font-size: 14px;
    margin-top: 10px;
}

#footer{
    color: #7fddf5;
    font-size: 20px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 30px;
}

#footerleft{
display: flex;
align-items: center;
justify-content: space-between;
}

#footerright{
    display: flex;
    gap: 30px;
}
#footer a{
    color: #72d2d0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;

}